<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings />
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
      </buildProviders>
    </compilation>
    <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <pages controlRenderingCompatibilityVersion="4.5" />
    <machineKey compatibilityMode="Framework45" />
    <authentication mode="Forms">
      <forms name=".ASPXFORMS" loginUrl="Logon.aspx" protection="All" path="/" timeout="30" />
    </authentication>
  </system.web>
  <connectionStrings>
    <add name="PricingConnectionString" connectionString="server=anthonyshaw1c9e; database=pricing; Integrated Security=SSPI;" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="QuoteServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="QuoteServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="QuoteService" behaviorConfiguration="QuoteServiceBehavior">
        <endpoint address="" behaviorConfiguration="QuoteServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="QuoteService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>